body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
    visibility: hidden;
}

#loading {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

#loading img {
    width: 195px; 
    height: auto; 
    animation: pulse 1.5s ease-in-out infinite; /* Pulsing effect */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Original size */
        opacity: 1; /* Fully visible */
    }
    50% {
        transform: scale(1.2); /* Grow slightly */
        opacity: 0.8; /* Fade slightly */
    }
    100% {
        transform: scale(1); /* Back to original size */
        opacity: 1; /* Fully visible */
    }
}

.search-bar {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #1f93ce;
    border-radius: 5px;
    width: 250px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    background-color: #1f93ce;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
button:hover {
    background-color: #02b1ec;
}

/* MAP CONTROLS (Desktop Default) */
#map-controls {
    position: absolute;
    top: 4px;
    right: 2px;
    background: white;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
#map-controls button {
    display: block; /* Stack buttons vertically */
    width: 100px;
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #1f93ce;
    border-radius: 10px;
    background-color: #1f93ce;
    cursor: pointer;
    /*font-weight: 525;*/
    box-shadow: 0px 4px 6px rgba(33, 32, 32, 0.2); /* Little shadow effect on the buttons*/
    
}
#map-controls button:hover {
    background-color: #02b1ec;
}

/*Feedback button */
#feedback-buttons {
    position: absolute;
    top: 4px;
    right: 2px;
    background: white;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* MESSAGE BOX */
.message-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000;
    background-color: white;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.8s ease-in-out; /* Smooth fade-in and fade-out */
}
.message-box.active {
    opacity: 1; /* Fully visible when active */
}

/* COPYRIGHT */
#copyright {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    color: #333;
    background: #02b1ec6d; /* Slightly transparent background */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    pointer-events: none; /* Prevent interaction with the map */
}

.leaflet-control-attribution {
    display: none;
}

/*
  HAMBURGER ICON
  It's hidden on the desktop by default, but shown on mobile in the media query.
*/
#hamburger {
    display: none; 
    position: absolute;
    top: 10px;
    right: 5px;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 2001;

    /* Stack lines vertically */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /*make the background blue */
    background-color: #1f93ce;
    
    border: 10px solid #1f93ce; 
    border-radius: 8px;
}

/* The 3 lines that make up the hamburger icon */
#hamburger span {
    display: block;
    width: 100%;
    height: 5px;

    background-color: #fff; /* White */

    border-radius: 20px;
}

/* 
  MEDIA QUERIES 
  On screens <= 768px, show the hamburger and hide the map controls by default.
  Screens <= 768px are screens on mobile devices, so therefore the hamburger only 
  shows when on mobile
*/
@media (max-width: 768px) {
    #hamburger {
        display: flex; 
    }
    #map-controls {
        display: none; /* Hides the buttons until the hamburger is pressed */
    }
    /* Display the menu on mobile */
    #map-controls.show-controls {
        display: block;
        top: 55px;
        right: 9px;
       /*width: 100px;*/
    }
    #feedback-button {
        padding: 2px 1px; 
        font-size: 12px; 
    }
}

#feedback-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1f94cebb;
    color: white;
    border: none;
    padding: 2px 5px; 
    border-radius: 6px; 
    font-size: 1x;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);;
}

#feedback-button:hover {
    background-color: #1f93ce;
}

/* Preventing h1 and h2 from being displayed */
.hidden-h1 {
    position: absolute;
    left: -9999px; 
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}
.hidden-h2 {
    position: absolute;
    left: -9999px; 
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}
